In [1]:
import pandas as pd
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt

In [2]:
pd.set_option('display.max_columns', 500)

In [3]:
train = pd.read_csv("training_set.csv")
test = pd.read_csv("testing_set.csv")
hotels_capacities = pd.read_csv("hotels_capacities.csv",sep=";")

In [4]:
train["Date"] = pd.to_datetime(train["Date"],dayfirst=True)
test["Date"] = pd.to_datetime(test["Date"],dayfirst=True)

In [5]:
train["Tot_BKG"] = train.BKG_0+train.BKG_1+train.BKG_14+train.BKG_21+train.BKG_28+train.BKG_7
train["Tot_BKG_mean"] = (train.BKG_0+train.BKG_1+train.BKG_14+train.BKG_21+train.BKG_28+train.BKG_7)/6

train["Tot_Revenue"] = train.Revenue_0+train.Revenue_1+train.Revenue_14+train.Revenue_21+train.Revenue_28+train.Revenue_7
train["Tot_Revenue_mean"] = (train.Revenue_0+train.Revenue_1+train.Revenue_14+train.Revenue_21+train.Revenue_28+train.Revenue_7)/6

train["Tot_HotelPrice"] = train.HotelPrice_14 + train.HotelPrice_21 + train.HotelPrice_28
train["Tot_HotelPrice_mean"] = (train.HotelPrice_14 + train.HotelPrice_21 + train.HotelPrice_28)/3

train["Tot_PriceComp0"] = train.PriceComp1_0 + train.PriceComp2_0 + train.PriceComp3_0 + train.PriceComp4_0
train["Tot_PriceComp0_mean"] = (train.PriceComp1_0 + train.PriceComp2_0 + train.PriceComp3_0 + train.PriceComp4_0)/4

train["Tot_PriceComp14"] = train.PriceComp1_14 + train.PriceComp2_14 + train.PriceComp3_14 + train.PriceComp4_14
train["Tot_PriceComp14_mean"] = (train.PriceComp1_14 + train.PriceComp2_14 + train.PriceComp3_14 + train.PriceComp4_14)/4

train["Tot_PriceComp21"] = train.PriceComp1_21 + train.PriceComp2_21 + train.PriceComp3_21 + train.PriceComp4_21
train["Tot_PriceComp21_mean"] = (train.PriceComp1_21 + train.PriceComp2_21 + train.PriceComp3_21 + train.PriceComp4_21)/4

train["Tot_PriceComp28"] = train.PriceComp1_28 + train.PriceComp2_28 + train.PriceComp3_28 + train.PriceComp4_28
train["Tot_PriceComp28_mean"] = (train.PriceComp1_28 + train.PriceComp2_28 + train.PriceComp3_28 + train.PriceComp4_28)/4

In [6]:
test["Tot_BKG"] = test.BKG_0+test.BKG_1+test.BKG_14+test.BKG_21+test.BKG_28+test.BKG_7
test["Tot_BKG_mean"] = (test.BKG_0+test.BKG_1+test.BKG_14+test.BKG_21+test.BKG_28+test.BKG_7)/6

test["Tot_Revenue"] = test.Revenue_0+test.Revenue_1+test.Revenue_14+test.Revenue_21+test.Revenue_28+test.Revenue_7
test["Tot_Revenue_mean"] = (test.Revenue_0+test.Revenue_1+test.Revenue_14+test.Revenue_21+test.Revenue_28+test.Revenue_7)/6

test["Tot_HotelPrice"] = test.HotelPrice_14 + test.HotelPrice_21 + test.HotelPrice_28
test["Tot_HotelPrice_mean"] = (test.HotelPrice_14 + test.HotelPrice_21 + test.HotelPrice_28)/3

test["Tot_PriceComp0"] = test.PriceComp1_0 + test.PriceComp2_0 + test.PriceComp3_0 + test.PriceComp4_0
test["Tot_PriceComp0_mean"] = (test.PriceComp1_0 + test.PriceComp2_0 + test.PriceComp3_0 + test.PriceComp4_0)/4

test["Tot_PriceComp14"] = test.PriceComp1_14 + test.PriceComp2_14 + test.PriceComp3_14 + test.PriceComp4_14
test["Tot_PriceComp14_mean"] = (test.PriceComp1_14 + test.PriceComp2_14 + test.PriceComp3_14 + test.PriceComp4_14)/4

test["Tot_PriceComp21"] = test.PriceComp1_21 + test.PriceComp2_21 + test.PriceComp3_21 + test.PriceComp4_21
test["Tot_PriceComp21_mean"] = (test.PriceComp1_21 + test.PriceComp2_21 + test.PriceComp3_21 + test.PriceComp4_21)/4

test["Tot_PriceComp28"] = test.PriceComp1_28 + test.PriceComp2_28 + test.PriceComp3_28 + test.PriceComp4_28
test["Tot_PriceComp28_mean"] = (test.PriceComp1_28 + test.PriceComp2_28 + test.PriceComp3_28 + test.PriceComp4_28)/4

In [7]:
train["year"] = train.Date.dt.year
train["month"] = train.Date.dt.month
train["day"] = train.Date.dt.day
train["week"] = train.Date.dt.week
train["dayoftheweek"] = train.Date.dt.dayofweek

In [8]:
test["year"] = test.Date.dt.year
test["month"] = test.Date.dt.month
test["day"] = test.Date.dt.day
test["week"] = test.Date.dt.week
test["dayoftheweek"] = test.Date.dt.dayofweek

In [9]:
train.head()

,Row_id,Hotel_id,Date_id,Date,LT,BKG_0,Revenue_0,HotelPrice_0,PriceComp1_0,PriceComp2_0,PriceComp3_0,PriceComp4_0,BKG_1,Revenue_1,BKG_7,Revenue_7,BKG_14,Revenue_14,HotelPrice_14,PriceComp1_14,PriceComp2_14,PriceComp3_14,PriceComp4_14,BKG_21,Revenue_21,HotelPrice_21,PriceComp1_21,PriceComp2_21,PriceComp3_21,PriceComp4_21,BKG_28,Revenue_28,HotelPrice_28,PriceComp1_28,PriceComp2_28,PriceComp3_28,PriceComp4_28,Tot_BKG,Tot_BKG_mean,Tot_Revenue,Tot_Revenue_mean,Tot_HotelPrice,Tot_HotelPrice_mean,Tot_PriceComp0,Tot_PriceComp0_mean,Tot_PriceComp14,Tot_PriceComp14_mean,Tot_PriceComp21,Tot_PriceComp21_mean,Tot_PriceComp28,Tot_PriceComp28_mean,year,month,day,week,dayoftheweek
0,1000001,1,43354,2018-09-11,37,2.796391,310.465881,209.117233,175.433029,254.684128,169.944260,200.156006,2.924722,291.058258,2.893867,298.034485,2.961926,292.268768,205.116882,195.365326,250.749847,182.846252,227.874741,2.966969,311.954285,224.114700,182.352234,265.553040,185.216522,223.656219,2.712079,305.808167,241.821213,188.598557,259.636017,186.012878,222.797882,17.255954,2.875992,1809.589844,301.598307,671.052795,223.684265,800.217422,200.054356,856.836166,214.209042,856.778015,214.194504,857.045334,214.261333,2018,9,11,37,1
1,1000002,1,43319,2018-08-07,255,1.829377,267.324188,189.501221,179.592834,216.652176,159.491211,251.325089,1.965281,285.377625,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-0.205342,-0.034224,548.701813,91.450302,-3.000000,-1.000000,807.061310,201.765327,-4.000000,-1.000000,-4.000000,-1.000000,-4.000000,-1.000000,2018,8,7,32,1
2,1000003,1,43493,2019-01-28,298,0.000000,0.000000,165.191788,106.838440,155.952698,155.888397,246.869171,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,168.058365,106.898689,168.487701,158.964355,256.774689,0.000000,0.000000,173.707825,100.894035,168.445602,158.099258,246.577759,0.000000,0.000000,173.946167,102.816086,205.642029,161.208801,260.023560,0.000000,0.000000,0.000000,0.000000,515.712357,171.904119,665.548706,166.387177,691.125435,172.781359,674.016655,168.504164,729.690475,182.422619,2019,1,28,5,0
3,1000004,1,43371,2018-09-28,220,2.745681,498.146576,170.131302,0.000000,259.400360,235.573364,252.521591,2.930071,473.501801,2.956252,473.653015,2.972445,481.694550,172.069672,0.000000,264.544373,234.757385,256.078949,2.987471,496.756287,167.357330,0.000000,267.351318,237.755630,250.307373,1.933594,348.409576,180.544403,0.000000,220.558350,229.740631,263.437622,16.525513,2.754252,2772.161804,462.026967,519.971405,173.323802,747.495316,186.873829,755.380707,188.845177,755.414322,188.853580,713.736603,178.434151,2018,9,28,39,4
4,1000005,1,43387,2018-10-14,136,0.925308,178.415405,184.628052,186.085831,244.755524,191.403564,265.907135,0.958266,167.461639,0.980342,178.519791,0.908885,176.282532,182.917145,179.190735,237.003647,182.994354,282.994324,0.901744,172.025833,178.157745,196.631210,246.165451,181.919266,272.818390,0.913420,175.162933,179.204178,180.829193,248.956894,188.421494,260.718842,5.587966,0.931328,1047.868134,174.644689,540.279068,180.093023,888.152054,222.038013,882.183060,220.545765,897.534317,224.383579,878.926422,219.731606,2018,10,14,41,6

In [10]:
train["mean_enc_target"] = train["Hotel_id"].map(train.groupby("Hotel_id")["HotelPrice_0"].mean())
train["std_enc_target"] = train["Hotel_id"].map(train.groupby("Hotel_id")["HotelPrice_0"].std())

train["mean_enc_target_weekday"] = train.merge(train.groupby(["Hotel_id","dayoftheweek"])["HotelPrice_0"].mean().reset_index(),on=["Hotel_id","dayoftheweek"],how="left")["HotelPrice_0_y"]
train["std_enc_target_weekday"] = train.merge(train.groupby(["Hotel_id","dayoftheweek"])["HotelPrice_0"].std().reset_index(),on=["Hotel_id","dayoftheweek"],how="left")["HotelPrice_0_y"]

train["mean_enc_target_month"] = train.merge(train.groupby(["Hotel_id","month"])["HotelPrice_0"].mean().reset_index(),on=["Hotel_id","month"],how="left")["HotelPrice_0_y"]
train["std_enc_target_month"] = train.merge(train.groupby(["Hotel_id","month"])["HotelPrice_0"].std().reset_index(),on=["Hotel_id","month"],how="left")["HotelPrice_0_y"]

train["mean_enc_target_year"] = train.merge(train.groupby(["Hotel_id","year"])["HotelPrice_0"].mean().reset_index(),on=["Hotel_id","year"],how="left")["HotelPrice_0_y"]
train["std_enc_target_year"] = train.merge(train.groupby(["Hotel_id","year"])["HotelPrice_0"].std().reset_index(),on=["Hotel_id","year"],how="left")["HotelPrice_0_y"]

train["mean_enc_target_week"] = train.merge(train.groupby(["Hotel_id","week"])["HotelPrice_0"].mean().reset_index(),on=["Hotel_id","week"],how="left")["HotelPrice_0_y"]
train["std_enc_target_week"] = train.merge(train.groupby(["Hotel_id","week"])["HotelPrice_0"].std().reset_index(),on=["Hotel_id","week"],how="left")["HotelPrice_0_y"]

In [11]:
test["mean_enc_target"] = test["Hotel_id"].map(train.groupby("Hotel_id")["HotelPrice_0"].mean())
test["std_enc_target"] = test["Hotel_id"].map(train.groupby("Hotel_id")["HotelPrice_0"].std())

test["mean_enc_target_weekday"] = test.merge(train.groupby(["Hotel_id","dayoftheweek"])["HotelPrice_0"].mean().reset_index(),on=["Hotel_id","dayoftheweek"],how="left")["HotelPrice_0"]
test["std_enc_target_weekday"] = test.merge(train.groupby(["Hotel_id","dayoftheweek"])["HotelPrice_0"].std().reset_index(),on=["Hotel_id","dayoftheweek"],how="left")["HotelPrice_0"]

test["mean_enc_target_month"] = test.merge(train.groupby(["Hotel_id","month"])["HotelPrice_0"].mean().reset_index(),on=["Hotel_id","month"],how="left")["HotelPrice_0"]
test["std_enc_target_month"] = test.merge(train.groupby(["Hotel_id","month"])["HotelPrice_0"].std().reset_index(),on=["Hotel_id","month"],how="left")["HotelPrice_0"]

test["mean_enc_target_year"] = test.merge(train.groupby(["Hotel_id","year"])["HotelPrice_0"].mean().reset_index(),on=["Hotel_id","year"],how="left")["HotelPrice_0"]
test["std_enc_target_year"] = test.merge(train.groupby(["Hotel_id","year"])["HotelPrice_0"].std().reset_index(),on=["Hotel_id","year"],how="left")["HotelPrice_0"]

test["mean_enc_target_week"] = test.merge(train.groupby(["Hotel_id","week"])["HotelPrice_0"].mean().reset_index(),on=["Hotel_id","week"],how="left")["HotelPrice_0"]
test["std_enc_target_week"] = test.merge(train.groupby(["Hotel_id","week"])["HotelPrice_0"].std().reset_index(),on=["Hotel_id","week"],how="left")["HotelPrice_0"]

In [12]:
from sklearn.model_selection import train_test_split

In [13]:
train.head()

,Row_id,Hotel_id,Date_id,Date,LT,BKG_0,Revenue_0,HotelPrice_0,PriceComp1_0,PriceComp2_0,PriceComp3_0,PriceComp4_0,BKG_1,Revenue_1,BKG_7,Revenue_7,BKG_14,Revenue_14,HotelPrice_14,PriceComp1_14,PriceComp2_14,PriceComp3_14,PriceComp4_14,BKG_21,Revenue_21,HotelPrice_21,PriceComp1_21,PriceComp2_21,PriceComp3_21,PriceComp4_21,BKG_28,Revenue_28,HotelPrice_28,PriceComp1_28,PriceComp2_28,PriceComp3_28,PriceComp4_28,Tot_BKG,Tot_BKG_mean,Tot_Revenue,Tot_Revenue_mean,Tot_HotelPrice,Tot_HotelPrice_mean,Tot_PriceComp0,Tot_PriceComp0_mean,Tot_PriceComp14,Tot_PriceComp14_mean,Tot_PriceComp21,Tot_PriceComp21_mean,Tot_PriceComp28,Tot_PriceComp28_mean,year,month,day,week,dayoftheweek,mean_enc_target,std_enc_target,mean_enc_target_weekday,std_enc_target_weekday,mean_enc_target_month,std_enc_target_month,mean_enc_target_year,std_enc_target_year,mean_enc_target_week,std_enc_target_week
0,1000001,1,43354,2018-09-11,37,2.796391,310.465881,209.117233,175.433029,254.684128,169.944260,200.156006,2.924722,291.058258,2.893867,298.034485,2.961926,292.268768,205.116882,195.365326,250.749847,182.846252,227.874741,2.966969,311.954285,224.114700,182.352234,265.553040,185.216522,223.656219,2.712079,305.808167,241.821213,188.598557,259.636017,186.012878,222.797882,17.255954,2.875992,1809.589844,301.598307,671.052795,223.684265,800.217422,200.054356,856.836166,214.209042,856.778015,214.194504,857.045334,214.261333,2018,9,11,37,1,157.167207,63.890249,155.766473,65.844254,188.172847,66.287155,170.836776,53.569739,191.302231,61.815696
1,1000002,1,43319,2018-08-07,255,1.829377,267.324188,189.501221,179.592834,216.652176,159.491211,251.325089,1.965281,285.377625,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-0.205342,-0.034224,548.701813,91.450302,-3.000000,-1.000000,807.061310,201.765327,-4.000000,-1.000000,-4.000000,-1.000000,-4.000000,-1.000000,2018,8,7,32,1,157.167207,63.890249,155.766473,65.844254,182.815930,72.764530,170.836776,53.569739,190.043602,79.425481
2,1000003,1,43493,2019-01-28,298,0.000000,0.000000,165.191788,106.838440,155.952698,155.888397,246.869171,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,168.058365,106.898689,168.487701,158.964355,256.774689,0.000000,0.000000,173.707825,100.894035,168.445602,158.099258,246.577759,0.000000,0.000000,173.946167,102.816086,205.642029,161.208801,260.023560,0.000000,0.000000,0.000000,0.000000,515.712357,171.904119,665.548706,166.387177,691.125435,172.781359,674.016655,168.504164,729.690475,182.422619,2019,1,28,5,0,157.167207,63.890249,156.498907,61.770163,134.762885,59.657902,130.080481,73.950108,133.799884,58.862137
3,1000004,1,43371,2018-09-28,220,2.745681,498.146576,170.131302,0.000000,259.400360,235.573364,252.521591,2.930071,473.501801,2.956252,473.653015,2.972445,481.694550,172.069672,0.000000,264.544373,234.757385,256.078949,2.987471,496.756287,167.357330,0.000000,267.351318,237.755630,250.307373,1.933594,348.409576,180.544403,0.000000,220.558350,229.740631,263.437622,16.525513,2.754252,2772.161804,462.026967,519.971405,173.323802,747.495316,186.873829,755.380707,188.845177,755.414322,188.853580,713.736603,178.434151,2018,9,28,39,4,157.167207,63.890249,157.820947,63.130944,188.172847,66.287155,170.836776,53.569739,183.462303,83.326181
4,1000005,1,43387,2018-10-14,136,0.925308,178.415405,184.628052,186.085831,244.755524,191.403564,265.907135,0.958266,167.461639,0.980342,178.519791,0.908885,176.282532,182.917145,179.190735,237.003647,182.994354,282.994324,0.901744,172.025833,178.157745,196.631210,246.165451,181.919266,272.818390,0.913420,175.162933,179.204178,180.829193,248.956894,188.421494,260.718842,5.587966,0.931328,1047.868134,174.644689,540.279068,180.093023,888.152054,222.038013,882.183060,220.545765,897.534317,224.383579,878.926422,219.731606,2018,10,14,41,6,157.167207,63.890249,156.086918,61.184273,198.129684,34.717763,170.836776,53.569739,199.990800,24.025372

In [14]:
train["Hotel_id"] = train["Hotel_id"].astype("str")
test["Hotel_id"] = test["Hotel_id"].astype("str")

In [15]:
hotels_capacities["Hotel"] = hotels_capacities["Hotel"].astype(str)

In [17]:
train = train.merge(hotels_capacities,how="left",left_on="Hotel_id",right_on="Hotel").drop("Hotel",axis=1)

In [18]:
test = test.merge(hotels_capacities,how="left",left_on="Hotel_id",right_on="Hotel").drop("Hotel",axis=1)

In [19]:
X = train.drop(["Row_id","Date","Date_id","HotelPrice_0"],axis=1)
y = train.HotelPrice_0

In [20]:
X["strat"] = X.Hotel_id.astype(str)+"_"+X.year.astype(str)+"_" +X.month.astype(str)

In [21]:
X_train , X_test , y_train , y_test = train_test_split(X,y,random_state=0,stratify=X.strat)

In [22]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error

In [23]:
ln = LinearRegression()
ln.fit(X_train,y_train)
y_pred = ln.predict(X_test)

In [24]:
np.sqrt(mean_squared_error(y_test,y_pred))

36.06624673615149

In [107]:
y_pred = ln.predict(test.drop(["Row_id","Date","Date_id"],axis=1))
c = pd.DataFrame({"Row_id":test.Row_id,"HotelPrice_0":y_pred})

In [31]:
from catboost import CatBoostRegressor

In [171]:
ct = CatBoostRegressor(random_state=0,iterations=10000,learning_rate=0.4,verbose=20,early_stopping_rounds=500,cat_features=["Hotel_id","year","month","day","week","dayoftheweek"])

In [ ]:
ct.fit(X_train.drop("strat",axis=1),y_train,eval_set=(X_test.drop("strat",axis=1),y_test))

0:	learn: 80.4032738	test: 80.4018989	best: 80.4018989 (0)	total: 338ms	remaining: 56m 17s
20:	learn: 23.3603242	test: 23.8032783	best: 23.8032783 (20)	total: 6.8s	remaining: 53m 50s
40:	learn: 20.1057230	test: 20.7919486	best: 20.7919486 (40)	total: 13.1s	remaining: 52m 57s
60:	learn: 18.4176961	test: 19.2907168	best: 19.2907168 (60)	total: 19.4s	remaining: 52m 37s
80:	learn: 17.2945111	test: 18.3374599	best: 18.3374599 (80)	total: 25.8s	remaining: 52m 36s
100:	learn: 16.7593159	test: 17.9431707	best: 17.9431707 (100)	total: 32.1s	remaining: 52m 23s
120:	learn: 16.2590044	test: 17.5467664	best: 17.5467664 (120)	total: 38.3s	remaining: 52m 9s
140:	learn: 15.7235889	test: 17.0805058	best: 17.0805058 (140)	total: 44.6s	remaining: 52m 1s
160:	learn: 15.2448594	test: 16.7122023	best: 16.7122023 (160)	total: 50.8s	remaining: 51m 42s
180:	learn: 14.9597110	test: 16.5169547	best: 16.5131513 (178)	total: 57s	remaining: 51m 31s
200:	learn: 14.6183270	test: 16.2594296	best: 16.2594296 (200)	total: 1m 3s	remaining: 51m 26s
220:	learn: 14.4039624	test: 16.1235834	best: 16.1153213 (219)	total: 1m 9s	remaining: 51m 13s
240:	learn: 14.2025137	test: 15.9693500	best: 15.9693500 (240)	total: 1m 15s	remaining: 51m 8s
260:	learn: 13.9028955	test: 15.7365229	best: 15.7362340 (259)	total: 1m 22s	remaining: 51m 5s
280:	learn: 13.6912748	test: 15.5851834	best: 15.5851834 (280)	total: 1m 28s	remaining: 50m 55s
300:	learn: 13.4780249	test: 15.4426523	best: 15.4426523 (300)	total: 1m 34s	remaining: 50m 43s
320:	learn: 13.3066253	test: 15.2810272	best: 15.2810272 (320)	total: 1m 40s	remaining: 50m 35s
340:	learn: 13.1108311	test: 15.1354956	best: 15.1354956 (340)	total: 1m 46s	remaining: 50m 30s
360:	learn: 12.9323846	test: 15.0021534	best: 15.0021534 (360)	total: 1m 53s	remaining: 50m 27s
380:	learn: 12.8225900	test: 14.9347349	best: 14.9347349 (380)	total: 1m 59s	remaining: 50m 17s
400:	learn: 12.7226747	test: 14.8910755	best: 14.8910755 (400)	total: 2m 5s	remaining: 50m 11s
420:	learn: 12.6090405	test: 14.8236799	best: 14.8236799 (420)	total: 2m 12s	remaining: 50m 11s
440:	learn: 12.5133123	test: 14.7634840	best: 14.7634840 (440)	total: 2m 18s	remaining: 49m 59s
460:	learn: 12.3840623	test: 14.7025910	best: 14.7025910 (460)	total: 2m 24s	remaining: 49m 53s
480:	learn: 12.3051135	test: 14.6550890	best: 14.6550890 (480)	total: 2m 30s	remaining: 49m 44s
500:	learn: 12.1832918	test: 14.5727666	best: 14.5727666 (500)	total: 2m 37s	remaining: 49m 39s
520:	learn: 12.1028639	test: 14.5197949	best: 14.5197949 (520)	total: 2m 43s	remaining: 49m 31s
540:	learn: 11.9965915	test: 14.4566870	best: 14.4566870 (540)	total: 2m 49s	remaining: 49m 25s
560:	learn: 11.8929742	test: 14.3904327	best: 14.3904327 (560)	total: 2m 55s	remaining: 49m 17s
580:	learn: 11.8136234	test: 14.3397297	best: 14.3397297 (580)	total: 3m 2s	remaining: 49m 10s
600:	learn: 11.7298458	test: 14.2718391	best: 14.2718391 (600)	total: 3m 8s	remaining: 49m 4s
620:	learn: 11.6429582	test: 14.2178403	best: 14.2178403 (620)	total: 3m 14s	remaining: 49m
640:	learn: 11.5661380	test: 14.1587101	best: 14.1587101 (640)	total: 3m 20s	remaining: 48m 53s
660:	learn: 11.4869691	test: 14.1034335	best: 14.1034335 (660)	total: 3m 27s	remaining: 48m 45s
680:	learn: 11.3699599	test: 14.0143189	best: 14.0143189 (680)	total: 3m 33s	remaining: 48m 35s
700:	learn: 11.2901943	test: 13.9490037	best: 13.9490037 (700)	total: 3m 39s	remaining: 48m 27s
720:	learn: 11.2178686	test: 13.9047489	best: 13.9047489 (720)	total: 3m 45s	remaining: 48m 18s
740:	learn: 11.1564717	test: 13.8761328	best: 13.8761328 (740)	total: 3m 51s	remaining: 48m 12s
760:	learn: 11.0822262	test: 13.8421523	best: 13.8421523 (760)	total: 3m 57s	remaining: 48m 6s

In [136]:
y_pred = ct.predict(test.drop(["Row_id","Date","Date_id"],axis=1))
c = pd.DataFrame({"Row_id":test.Row_id,"HotelPrice_0":y_pred})

In [137]:
from IPython.display import FileLink
def create_submission(submission_file, submission_name):
    submission_file.to_csv(submission_name+".csv",index=False)
    return FileLink(submission_name+".csv")

In [138]:
create_submission(submission_file=c, submission_name="test1")

/kaggle/working/test1.csv

In [3]:
from sklearn.model_selection import GridSearchCV

In [5]:
from sklearn import datasets

In [6]:
import lightgbm as lgb

In [16]:
iris = datasets.load_iris()

In [17]:
irisdd = pd.DataFrame(iris.data,columns=iris.feature_names)

In [18]:
model_lgb = lgb.LGBMClassifier()

In [19]:
from sklearn.model_selection import StratifiedKFold

In [20]:
sk = StratifiedKFold()

C:\Users\Justpro\Anaconda3\lib\site-packages\sklearn\model_selection\_split.py:598: FutureWarning: You should specify a value for 'n_splits' instead of relying on the default value. The default value will change from 3 to 5 in version 0.22.
  warnings.warn(NSPLIT_WARNING, FutureWarning)

In [57]:
gridParams = {
    'learning_rate': [0.05,0.006,0.007],
    'n_estimators': [40],
    'num_leaves': [6,8,12,16],
    'boosting_type' : ['gbdt'],
    'objective' : ['binary'],
    'colsample_bytree' : [0.65, 0.66],
    'subsample' : [0.7,0.75],
    'reg_alpha' : [1,1.2],
    'reg_lambda' : [1,1.2,1.4],
    }

In [41]:
clf = GridSearchCV(model_lgb,gridParams,verbose=1,cv=sk.split(irisdd,iris.target))

In [42]:
clf.fit(irisdd,iris.target)

Fitting 3 folds for each of 288 candidates, totalling 864 fits

[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done 864 out of 864 | elapsed:   30.7s finished
C:\Users\Justpro\Anaconda3\lib\site-packages\sklearn\model_selection\_search.py:841: DeprecationWarning: The default of the `iid` parameter will change from True to False in version 0.22 and will be removed in 0.24. This will change numeric results when test-set sizes are unequal.
  DeprecationWarning)

GridSearchCV(cv=<generator object _BaseKFold.split at 0x000000001A7F4888>,
       error_score='raise-deprecating',
       estimator=LGBMClassifier(boosting_type='gbdt', class_weight=None, colsample_bytree=1.0,
        importance_type='split', learning_rate=0.1, max_depth=-1,
        min_child_samples=20, min_child_weight=0.001, min_split_gain=0.0,
        n_estimators=100, n_jobs=-1, num_leaves=31, objective=None,
        random_state=None, reg_alpha=0.0, reg_lambda=0.0, silent=True,
        subsample=1.0, subsample_for_bin=200000, subsample_freq=0),
       fit_params=None, iid='warn', n_jobs=None,
       param_grid={'learning_rate': [0.05, 0.006, 0.007], 'n_estimators': [40], 'num_leaves': [6, 8, 12, 16], 'boosting_type': ['gbdt'], 'objective': ['binary'], 'random_state': [501], 'colsample_bytree': [0.65, 0.66], 'subsample': [0.7, 0.75], 'reg_alpha': [1, 1.2], 'reg_lambda': [1, 1.2, 1.4]},
       pre_dispatch='2*n_jobs', refit=True, return_train_score='warn',
       scoring=None, verbose=1)

In [43]:
clf.best_score_

0.96

In [44]:
clf.best_params_

{'boosting_type': 'gbdt',
 'colsample_bytree': 0.65,
 'learning_rate': 0.05,
 'n_estimators': 40,
 'num_leaves': 6,
 'objective': 'binary',
 'random_state': 501,
 'reg_alpha': 1,
 'reg_lambda': 1,
 'subsample': 0.7}